<html>
    <head>
        <meta charset="utf-8">
        <title>Gyrograph</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/style.css">

        <!-- Bootstrap and AJAX (need these versions for Modal popup to work) -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    </head>
    

    <body>
        <!-- <div id="overlay">
            <div class="container-fluid">
                <div class="col-md-4">
                    <div class="row">
                        <div class="content with-margin">
                            <img src="/static/images/icons_1_no_hover.png" onclick="test()" onmouseover="this.src='/static/images/icons_1_yes_hover.png';" onmouseout="this.src='/static/images/icons_1_no_hover.png';">
                        </div>
                    </div>
                    <div class="row">
                        <div class="content with-margin">
                            <img src="/static/images/icons_2_no_hover.png" onclick="test()" onmouseover="this.src='/static/images/icons_2_yes_hover.png';" onmouseout="this.src='/static/images/icons_2_no_hover.png';">
                        </div>
                    </div>
                    <div class="row">
                        <div class="content with-margin">
                            <img src="/static/images/icons_3_no_hover.png" onclick="test()" onmouseover="this.src='/static/images/icons_3_yes_hover.png';" onmouseout="this.src='/static/images/icons_3_no_hover.png';">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div id="container">
            <div id="canvas"></div>
        </div>


<!----------JS---------------------------------------------------------------------------------------------------------------------->
        
        <script type="text/javascript" src="../static/js/three.min.js"></script>
        <script type="text/javascript" src="../static/js/OrbitControls.js"></script>
        <script type="text/javascript" src="../static/js/rhino3dm.js"></script>
        <script type="text/javascript" src="../static/js/200225_blocks.js"></script>
        <script type="text/javascript" src="../static/js/run.js"></script>

    </body>
</html>