<html>
<head>
    <meta charset="utf-8">
    <title>Gyrograph</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- JQuery for circular slider -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/round-slider@1.6.0/dist/roundslider.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/round-slider@1.6.0/dist/roundslider.min.js"></script>

    <!-- Bootstrap and AJAX (need these versions for Modal popup to work) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<body>
    <div id="overlay">
        <div id="about" class="nano">   
            <div class="nano-content"> 
                <div class="col-md-12">
                    <div class="row">
                        <img class="iconUnavailable" src="/static/images/margin.png"> <!-- overlay can't have margin b/c of scroll bar, so creating margin with a 15px wide png -->
                        <img class="iconUnavailable" id="play" src="/static/images/icons_play.png" onclick=" ">
                        <img class="iconUnavailable" id="pause" src="/static/images/icons_pause.png" onclick=" ">
                        <img class="iconUnavailable" id="reset" src="/static/images/icons_reset.png" onclick=" ">
                    </div>
                    <br>
                    <div class="row">
                        <img class="iconUnavailable" src="/static/images/margin.png">
                        <img class="iconUnavailable" id="tube1" src="/static/images/icons_tube1.png" onclick=" ">
                        <img class="iconUnavailable" id="tube2" src="/static/images/icons_tube2.png" onclick=" ">
                        <img class="iconUnavailable" id="tube3" src="/static/images/icons_tube3.png" onclick=" ">
                    </div>
                    <div class="row">
                        <img class="iconUnavailable" src="/static/images/margin.png">
                        <img class="iconUnavailable" id="motor1" src="/static/images/icons_motor1.png" onclick=" ">
                        <img class="iconUnavailable" id="motor2" src="/static/images/icons_motor2.png" onclick=" ">
                        <img class="iconUnavailable" id="motor3" src="/static/images/icons_motor3.png" onclick=" ">
                    </div>
                    <div class="row">
                        <img class="iconUnavailable" src="/static/images/margin.png">
                        <img class="iconUnavailable" id="motor4" src="/static/images/icons_motor4.png" onclick=" ">
                        <img class="iconUnavailable" id="motor5" src="/static/images/icons_motor5.png" onclick=" ">
                        <img class="iconUnavailable" id="nib" src="/static/images/icons_nib.png" onclick=" ">
                    </div>
                    <br>
                    <div class="row">
                        <img class="iconUnavailable" src="/static/images/margin.png">
                        <img class="iconUnavailable" src="/static/images/icons_spacer.png">
                        <img class="iconUnavailable" id="previous" src="/static/images/icons_previous.png" onclick=" ">
                        <img class="iconUnavailable" id="next" src="/static/images/icons_next.png" onclick=" ">
                        <img class="iconUnavailable" id="undo" src="/static/images/icons_undo.png" onclick=" ">            
                    </div>
                    <div class="row">
                        <!-- Line-weight slider -->
                        <div class="slidecontainer">
                            <input type="range" min="1" max="10" value="3" class="sliderLinesUnavailable" id="lineWeightSlider">
                        </div>                              
                    </div>
                    <div class="row">
                        <!-- Color Wheel from: https://www.cssscript.com/sleek-html5-javascript-color-picker-iro-js/ -->
                        <svg style="display:none;">
                            <defs>
                                <g id="handle" stroke-width="2" >
                                    <circle cx="0" cy="0" r="5" stroke="white" stroke-width="1" fill=none />
                                </g>
                            </defs>
                        </svg>
                        <div class="wheelUnavailable" id="colorWheel"></div>
                    </div>
                    <div class="row">
                        <!-- Circular slider -->
                        <div class="slider-margin">
                            <div id="circularSlider" class="circularAvailable"></div>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Navigation Icons -->
    <div id="overlay_right">
        <div class="col-md-4">
            <div><br></div>
            <div class="row">
                <img class="iconAvailable" id="top" src="/static/images/icons_top.png" onclick="topView()">
            </div>
            <div class="row">
                <img class="iconAvailable" id="3D" src="/static/images/icons_3d.png" onclick="axonView()">
            </div>
            <div class="row">
                <img class="iconAvailable" id="front" src="/static/images/icons_front.png" onclick="frontView()">
            </div>
        </div>
    </div>


    <div id="container">
        <div id="canvas"></div>
    </div>


<!----------JS---------------------------------------------------------------------------------------------------------------------->
    
    <!-- THREEjs -->
    <script type="text/javascript" src="../static/js/three.min.js"></script>
    <script type="text/javascript" src="../static/js/OrbitControls.js"></script>

    <!-- Tween -->
    <script type="text/javascript" src="../static/js/tween.umd.js"></script>
    
    <!-- Thick Lines -->
    <script type="text/javascript" src="../static/js/LineSegmentsGeometry.js"></script>
    <script type="text/javascript" src="../static/js/LineGeometry.js"></script>
    <script type="text/javascript" src="../static/js/LineMaterial.js"></script>
    <script type="text/javascript" src="../static/js/LineSegments2.js"></script>
    <script type="text/javascript" src="../static/js/Line2.js"></script>    
    
    <!-- Color Wheel -->
    <script type="text/javascript" src="../static/js/iro.js"></script>    

    <!-- Scroll Bar -->
    <script type="text/javascript" src="../static/js/nanoScroller.js"></script>    
    
    <!-- Rhino and main functions -->
    <script type="text/javascript" src="../static/js/rhino3dm.js"></script>
    <script type="text/javascript" src="../static/js/functions.js"></script>
    <script type="text/javascript" src="../static/js/load_3dm.js"></script>

    </body>
</html>